<div class="documents" ng-class="{'one-col': doc}" >
  <h1>
    {{ title || category.label }}
    <span class="fa"
      ng-class="{ 'fa-sort-numeric-asc': invert, 'fa-sort-numeric-desc': !invert }"
      ng-click="invert = !invert"></span>
  </h1>
  <ul class="cards" infinite-scroll="fetchDocuments()" infinite-scroll-parent>
    <li title="Create new document..." ng-click="showDocumentCreationDialog()" ng-if="!trash && !isSearch">
    <div class="fa fa-plus" ></div>
    <div class="doc-title"><h3>Create new document</h3></div>
    </li>

    <li title="Empty trash bin!" ng-click="trashDocuments()" ng-if="trash && documents.length">
    <div class="fa fa-trash-o" ></div>
    <div class="doc-title"><h3>Empty trash bin!</h3></div>
    </li>

    <li ng-repeat="doc in documents"
        id="{{ doc._id }}" title="{{ doc.title }}"
        ng-click="openDocument(doc._id)"
        ng-class="doc.clazz"
        draggable dragdata="getDraggableData(doc)">
    <div class="fa fa-file" ></div>
    <div class="doc-illustration" ng-if="doc.illustration">
      <img src="" app-src="{{doc.illustration}}" size="200x150" onerror="this.src='/icons/404.png'">
    </div>
    <div class="doc-title">
      <h3>{{ doc.title }}</h3>
    </div>
    <ul ng-if="doc.category" class="categories">
      <li ng-repeat="cat in doc.category | toArray" style="background-color: {{cat | categoryColor}}" title="{{cat}}"></li>
    </ul>
    </li>
  </ul>
  <span ng-if="documents.length == 0" class="no-result">{{ emptyMessage }}</span>
</div>

<app-document ng-if="doc"></app-document>

<script type="text/ng-template" id="templates/dialog/document/create.html">
<div class="modal-header">
  <h3>
    Create new document
    <span ng-if="category" ng-style="{color: category.color}"> in {{ category.label }}</span>
  </h3>
</div>
<div class="modal-body">
<tabset justified="true">
  <tab heading="Simple">
    <p>Open document creation form.</p>
    <button class="btn btn-primary" ng-click="postSimpleHtml()" >Html</button>
    <button class="btn btn-primary" ng-click="postSimpleText()" >Text</button>
  </tab>
  <tab heading="Online">
    <form name="urlForm" ng-submit="postUrl()" novalidate>
      <div class="form-group" ng-class="{true: 'has-error', false: 'has-success'}[urlForm.url.$invalid]">
        <label for="documentUrl">URL</label>
        <input type="url" name="url" class="form-control" id="documentUrl" ng-model="url" required />
      </div>
      <button class="btn btn-primary" type="submit" ng-disabled="!urlForm.$valid">Get</button>
    </form>
  </tab>
  <tab heading="Upload">
    <form name="fileForm" ng-submit="postFile()" novalidate>
      <div class="form-group" ng-class="{true: 'has-error', false: 'has-success'}[fileForm.file.$invalid]">
        <label for="documentFile">File</label>
        <input id="documentFile" type="file" name="file" ng-file-select="onFileSelect($files)" required />
      </div>
      <button class="btn btn-primary" type="submit" ng-disabled="!fileForm.$valid || !files">Upload</button>
    </form>
  </tab>
</tabset>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>

