<div id="document" ng-class="{open: doc.opened}">
  <header>
    <a class="close" ng-click="closeDocument()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
    <button type="button" class="btn btn-default btn-xs pull-left" ng-show="editing" ng-click="cancelDocument()">cancel</button>
    <button type="button" class="btn btn-success btn-xs pull-left" ng-show="editing" ng-click="saveDocument(doc)">save</button>
    <button type="button" class="btn btn-primary btn-xs pull-left" ng-show="!editing" ng-click="editing = true">edit</button>
    <h1 contenteditable="{{ editing }}" ng-model="doc.title"></h1>
    <span class="doc-meta">
      <span class="glyphicon glyphicon-time"></span>
      <time>{{ doc.date | date }}</time>
      <span class="glyphicon glyphicon-globe" ng-if="doc.link"></span>
      <a href="{{doc.link}}" title="View source" ng-if="doc.link" target="_blank">{{ doc.link | domain }}</a>
    </span>
    <ul class="categories" ng-show="editing || doc.categories.length">
      <li app-category-tag="cat" ng-repeat="cat in doc.categories" class="category" ng-class="{'editing': editing}"></li>
      <li>
      <form class="add-category" ng-if="editing">
        <select class="form-control input-sm"
          ng-model="selected"
          ng-change="addCategory(selected.key)"
          ng-options="cat.label for cat in categories" >
        </select>
      </form>
      </li>
    </ul>
  </header>
  <article contenteditable="{{ editing }}" ng-model="doc.content" class="readable">
  </article>
  <div class="doc-image" ng-if="isImage(doc)">
    <img src="" data-ng-src="/api/document/{{doc._id}}/resource/{{doc.attachment}}">
  </div>
</div>
