<nav class="navbar navbar-default" role="navigation" >
  <button type="button" class="btn btn-default navbar-btn" title="Show main menu" ng-click="toggleMenu()">
    <div class="glyphicon glyphicon-th-large" ></div>
  </button>
  <form class="navbar-form navbar-right" role="search">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <div class="glyphicon glyphicon-search" ></div>
        </button>
      </span>
    </div>
  </form>
</nav>

