<nav class="navbar navbar-default" role="navigation" >
  <button type="button" class="btn btn-default navbar-btn" title="Show main menu">
    <div class="glyphicon glyphicon-th-large" ></div>
  </button>
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="{{sample}}">
    </div>
    <button type="submit" class="btn btn-default">
      <div class="glyphicon glyphicon-search" ></div>
    </button>
  </form>
</nav>

