<nav class="navbar navbar-default" role="navigation" >
  <button type="button" class="btn btn-default navbar-btn" title="Show main menu" ng-click="toggleMenu()">
    <div class="fa fa-bars" ></div>
  </button>
  <form class="navbar-form navbar-right" role="search" ng-submit="search(query)">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <div class="fa fa-search" ></div>
        </button>
      </span>
    </div>
  </form>
</nav>

