<div class="profile">
  <div class="alert" ng-if="message" ng-class="message.clazz">{{message.text}}</div>
  <header>
    <span class="avatar">
      <img ng-src="{{user.uid | gravatar}}" alt="{{user.uid}}" title="{{user.uid}} on Gravatar" />
    </span>
    <span>
      <h1>{{ user.username || user.uid }}</h1>
      <p>Member since {{ user.date | fromNow }}</p>
    </span>
    <a href="/logout" class="btn btn-danger logout" title="Logout">
      <span class="fa fa-power-off"></span>
    </a>
  </header>
  <hr/>
  <section>
    <h2>Bookmarklet</h2>
    <p>Drag and drop the link bellow in your toolbar.</p>
    <a href="javascript:(function(){K_REALM='{{ realm }}';K_SCR=document.createElement('SCRIPT');
      K_SCR.type='text/javascript';K_SCR.src=K_REALM+'/bookmarklet.js';
      document.getElementsByTagName('head')[0].appendChild(K_SCR)})();"
      onclick="alert('Don\'t click on me, but drag me.');return false;" title="Drag me in your toolbar!" class="bookmarklet">Keep This!</a>
  </section>
  <section>
    <h2>Granted Applications</h2>
    <p ng-if="!apps.length">No application granted to access your account.</p>
    <p ng-if="apps.length">You have {{ apps.length }} application(s) granted to access your account:</p>
    <ul>
      <li ng-repeat="app in apps">
        <a href="{{ app.homepage }}" target="_blank">{{ app.name }}</a>
        <a class="pointer" ng-click="revokeClient(app)" title="Revoke acccess">[revoke]</a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Twitter</h2>
    <p ng-if="!user.twitter">
    Connect Twitter with your account.
    Once activated, you will be able to keep a tweet thanks to the hash tag #keep.
    <a href="/api/user/{{user.uid}}/connect/twitter" title="Connect with Twitter">[connect]</a>
    </p>
    <p ng-if="user.twitter">
    Your are linked with <strong><a href="https://twitter.com/{{user.twitter.screen_name}}" target="_blank">@{{user.twitter.screen_name}}</a></strong> Twitter account.
    <a href="/api/user/{{user.uid}}/disconnect/twitter" title="Disconnect from Twitter">[disconnect]</a>
    <br>
    You can keep a tweet by adding the hash tag #keep.
    If the tweet contains an url, the targeted resource will be saved.
    </p>
  </section>
  <section>
    <h2>Pocket</h2>
    <p ng-if="!user.pocket">
    Connect Pocket with your account.
    Once activated, you will be able to import Pocket documents.
    <a href="/api/user/{{user.uid}}/connect/pocket" title="Connect with Pocket">[connect]</a>
    </p>
    <p ng-if="user.pocket">
    Your are linked with <strong><a href="http://getpocket.com/" target="_blank">{{user.pocket.username}}</a></strong> Pocket account.
    <a href="/api/user/{{user.uid}}/disconnect/pocket" title="Disconnect from Pocket">[disconnect]</a>
    <br>
    You can import Pocket documents.
    <a href="/api/user/{{user.uid}}/pocket/import" title="Import all documents from Pocket">[import]</a>
    </p>
  </section>
</div>

