<div class="sidebar">
  <div id="logo">
    <h1>keeper</h1>
  </div>
  <div class="list-group">
    <a href="#profile" target="_self" class="list-group-item" title="View profile [g p]" >
      <span class="glyphicon glyphicon-user"></span>
      Profile
      <img ng-src="{{gravatarUrl}}?s=35" alt="{{user.uid}}" title="{{user.uid}}" />
    </a>
    <a href="#document" target="_self" class="list-group-item" title="View all documents [g a]" >
      <span class="glyphicon glyphicon-th"></span>
      All
      <span class="badge">{{ total }}</span>
    </a>
    <a href="#document?q=_missing_:category" target="_self" class="list-group-item" title="View archived items [g u]" >
      <span class="glyphicon glyphicon-inbox"></span>
      Uncategorized
      <span class="badge">{{ uncatTotal }}</span>
    </a>
    <a
      href="#document?q=category:{{ category.key }}"
      title="{{ category.label }}"
      class="list-group-item"
      target="_self"
      ng-repeat="category in categories">
      <span class="glyphicon" ng-class="category.icon"></span>
      {{ category.label }}
      <span class="badge">{{ category.total }}</span>
      <span class="glyphicon glyphicon-cog setup" ng-click="editCategoryDialog(category); $event.stopPropagation()" ng-show="isUserCategory(category)"></span>
    </a>
    <a class="list-group-item pointer" title="Add a new category" ng-click="createCategoryDialog(); $event.stopPropagation()">
      <span class="glyphicon glyphicon-plus"></span>
      Add a category
    </a>
  </div>
  <!-- Copyright -->
  <div id="copyright">
    <p>&copy; 2014 NUNUX.org</p>
  </div>
</div>

<script type="text/ng-template" id="templates/dialog/category/edit.html">
<div class="modal-header">
  <h3 ng-if="category.label">Edit category: {{ category.label }}</h3>
  <h3 ng-if="!category.label">Create new category</h3>
</div>
<div class="modal-body">
  <form role="form" ng-submit="ok()">
    <div class="form-group">
      <label for="categoryLabel">Label</label>
      <input type="text" class="form-control" id="categoryLabel" placeholder="Enter category label" ng-model="category.label">
    </div>
    <div class="form-group">
      <label for="categoryColor">Color</label>
      <input type="color" id="categoryColor" value="#fad345" ng-model="category.color">
      <p class="help-block">Color in the sidebar.</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="delete()" ng-if="category.key">Delete</button>
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>

