<div class="sidebar">
  <div id="logo">
    <h1>keeper</h1>
  </div>
  <div class="list-group">
    <a href="#profile" target="_self" class="list-group-item" title="View profile [g p]" >
      <span class="glyphicon glyphicon-user"></span>
      Profile
      <img ng-src="{{gravatarUrl}}?s=35" alt="{{user.uid}}" title="{{user.uid}}" />
    </a>
    <a href="#document" target="_self" class="list-group-item" title="View all documents [g a]" >
      <span class="glyphicon glyphicon-th"></span>
      All
    </a>
    <a href="#document?q=_missing_:category" target="_self" class="list-group-item" title="View archived items [g u]" >
      <span class="glyphicon glyphicon-inbox"></span>
      Uncategorized
    </a>
    <a
      href="#document?q=category%3A{{ category.key }}"
      title="{{ category.label }}"
      class="list-group-item"
      target="_self"
      ng-repeat="category in categories"
      ng-class="{active: $root.currentPage == category.key}">
      <span class="glyphicon glyphicon-tag" style="color: {{category.color}}"></span>
      {{ category.label }}
      <span class="glyphicon glyphicon-cog setup" ng-click="editCategoryDialog(category); $event.stopPropagation()" ng-show="isUserCategory(category)"></span>
    </a>
    <a class="list-group-item pointer" title="Add a new category" ng-click="createCategoryDialog(); $event.stopPropagation()">
      <span class="glyphicon glyphicon-plus"></span>
      Add a category
    </a>
  </div>
  <!-- Copyright -->
  <div id="copyright">
    <p>&copy; 2014 NUNUX.org</p>
  </div>
</div>

