<!DOCTYPE html>
<html>
<head>
  <title><%= info.title %> - Bookmarklet</title>
  <meta name="author" content="<%= info.author %>">
  <link rel="stylesheet" href="stylesheets/bookmarklet.css" />
</head>
<body ng-app="KeeperBookmarklet">
  <div ng-controller="BookmarkletCtrl">
    <header>
      <h1><%= info.title %><span class="fa fa-times-circle" ng-click="close()" title="Close"></span></h1>
    </header>
    <section id="content">
      <% if (!user) { %>
      <div class="login">
        <p>You are not logged in.</p>
        <a class="btn btn-primary" href="/login?redirect={{url}}" target="_parent" >Please, login first.</a>
      </div>
      <% } else { %>
      <div class="dropzone" title="Drop text or image here" ng-class="{over: over, ready: ready, error: error, busy: busy}">
        <span class="fa" ng-class="icon"></span>
      </div>
      <button type="button" class="btn btn-primary" title="Keep this!" ng-click="saveDocument()" ng-disabled="busy">{{btnLabel}}</button>
      <% } %>
    </section>
  </div>

<!-- build:js javascripts/keeper-bm.min.js -->
<script src="lib/jquery/jquery.js"></script>
<script src="lib/lodash/lodash.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.js"></script>
<script src="javascripts/app-bm.js"></script>
<script src="javascripts/services/category.js"></script>
<script src="javascripts/services/document.js"></script>
<!-- endbuild -->

</body>
</html>
