<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= info.title %> | <%= doc.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="<%= info.description %>" />
  <meta name="author" content="<%= info.author %>">
  <link rel="stylesheet" href="/stylesheets/public.css" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="icons/icon_152.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="icons/icon_120.png">
  <link rel="apple-touch-icon-precomposed" href="icons/icon_57.png">
  <link rel="shortcut icon" href="icons/favicon.png">
</head>
<body>
  <header>
    <img src="/icons/icon_57.png"
    alt="Powered by Nunux <%= info.name %>"
    title="Powered by Nunux <%= info.name %>">
  </header>
  <section class="content">
    <article class="document">
      <header>
        <h1><%= doc.title %></h1>
        <span class="doc-meta">
          <span class="fa fa-clock-o"></span>
          <time><%= doc.date %></time>
          <% if (doc.link) { %>
          <span class="fa fa-globe"></span>
          <a href="<%= doc.link %>" title="View source" target="_blank">source</a>
          <% } %>
        </span>
      </header>
      <section class="content" class="readable">
        <% if (/^text\/plain/.test(doc.contentType)) { %>
        <pre>
        <% } %>
        <% if (/^image\//.test(doc.contentType)) { %>
        <img src="/api/document/<%= doc._id %>/resource/<%= doc.attachment %>" />
        <% } else { %>
        <%- doc.content %>
        <% } %>
        <% if (/^text\/plain/.test(doc.contentType)) { %>
        </pre>
        <% } %>
      </section>
    </article>
  </section>
<script>
var _init = function () {
  var imgs = document.getElementsByTagName('img');
  for (var i = 0; i < imgs.length; i++) {
    var img = imgs[i],
        data = img.dataset,
        src = img.getAttribute('data-app-src') || img.getAttribute('app-src');
    if (src) {
      img.src = src;
    }
  }
}();
</script>
</body>
</html>
