<div class="row">
  <div class="col-md-7">
    <div class="keyboard-shortcut-context">
      <h3>Jumping</h3>
      <dl>
        <dt>Go to Home or All Items</dt><dd><kbd>g</kbd> then <kbd>h</kbd></dd>
        <dt>Go to Saved Items</dt><dd><kbd>g</kbd> then <kbd>a</kbd></dd>
        <dt>Go to Subscription Management</dt><dd><kbd>g</kbd> then <kbd>u</kbd></dd>
      </dl>
    </div>
    <div class="keyboard-shortcut-context">
      <h3>Navigation</h3>
      <dl>
        <dt>Go to next article</dt><dd><kbd>-&gt;</kbd> or <kbd>n</kbd> or <kbd>space</kbd></dd>
        <dt>Go to previous article</dt><dd><kbd>&lt;-</kbd> or <kbd>p</kbd> or <kbd>shift</kbd> + <kbd>space</kbd></dd>
        <dt>Refresh</dt><dd><kbd>r</kbd></dd>
        <dt>Close popup</dt><dd><kbd>esc</kbd></dd>
      </dl>
    </div>
  </div>
  <div class="col-md-4">
    <div class="keyboard-shortcut-context">
      <h3>Actions</h3>
      <dl>
        <dt>Mark read/unread</dt><dd><kbd>m</kbd></dd>
        <dt>Save/Trash article</dt><dd><kbd>s</kbd></dd>
        <dt>Show QR code</dt><dd><kbd>q</kbd></dd>
        <dt>Switch order</dt><dd><kbd>o</kbd></dd>
        <dt>Switch view mode</dt><dd><kbd>v</kbd></dd>
      </dl>
    </div>
  </div>
</div>
