<div class="modal-header">
  <h3>Keyboard shortcuts</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-7">
      <div class="keyboard-shortcut-context">
        <h3>Jumping</h3>
        <dl>
          <dt>Go to user profile</dt><dd><kbd>g</kbd> then <kbd>u</kbd></dd>
          <dt>Go to home (all docs)</dt><dd><kbd>g</kbd> then <kbd>h</kbd></dd>
          <dt>Go to trashbin</dt><dd><kbd>g</kbd> then <kbd>t</kbd></dd>
          <dt>Go to public category</dt><dd><kbd>g</kbd> then <kbd>p</kbd></dd>
          <dt>Go to uncategorized</dt><dd><kbd>g</kbd> then <kbd>n</kbd></dd>
        </dl>
      </div>
    </div>
    <div class="col-md-4">
      <div class="keyboard-shortcut-context">
        <h3>Navigation</h3>
        <dl>
          <dt>Close pannel</dt><dd><kbd>esc</kbd></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>

