<!DOCTYPE html>
<html>
<head>
  <title><%= info.title %> - Bookmarklet</title>
  <meta name="author" content="<%= info.author %>">
  <link rel="stylesheet" href="stylesheets/bookmarklet.css" />
</head>
<body ng-app="KeeperBookmarklet">
  <div ng-controller="BookmarkletCtrl">
    <header>
      <h1><%= info.title %><span class="glyphicon glyphicon-remove-circle" ng-click="close()" title="Close"></span></h1>
    </header>
    <section id="content">
      <div class="dropzone" title="Drop text or image here" ng-class="{over: over}">
        <span class="glyphicon" ng-class="icon"></span>
      </div>
      <button type="button" class="btn btn-primary" title="Keep this!" ng-click="saveDocument()" ng-disabled="disabled">{{btnLabel}}</button>
    </section>
  </div>
<% if (env == 'production') {%>
<script src="javascripts/keeper-bm.min.js"></script>
<% } else { %>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/lodash/lodash.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="javascripts/app-bm.js"></script>
<script src="javascripts/services/category.js"></script>
<script src="javascripts/services/document.js"></script>
<% } %>

</body>
</html>
