<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="<%= info.description %>" />
  <meta name="author" content="<%= info.author %>">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.js"></script>
  <![endif]-->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="icons/favicon.png">
  <script>
    window.user = <%- JSON.stringify(user) %>;
  </script>
</head>
<body ng-app="KeeperApp">
  <div id="wrapper" ng-class="mainMenuStatus">
    <ng-view id="content"></ng-view>
    <app-sidebar id="sidebar"></app-sidebar>
  </div><!-- end wrapper -->

<script type="text/ng-template" id="templates/views/profile.html">
<div id="profile">
  <header>
    <app-navbar></app-navbar>
  </header>
  <section>
    <app-profile></app-profile>
  </section>
</div>
</script>

<script type="text/ng-template" id="templates/views/documents.html">
<div id="documents">
  <header>
    <app-navbar></app-navbar>
  </header>
  <section>
    <app-documents></app-documents>
  </section>
</div>
</script>

<script type="text/ng-template" id="templates/dialog/category/edit.html">
  <form role="form">
    <div class="form-group">
      <label for="categoryLabel">Label</label>
      <input type="text" class="form-control" id="categoryLabel" placeholder="Enter category label" ng-model="category.label">
    </div>
    <div class="form-group">
      <label for="categoryColor">Color</label>
      <input type="color" id="categoryColor" value="#fad345" ng-model="category.color">
      <p class="help-block">Color in the sidebar.</p>
    </div>
  </form>
</script>

<% if (env == 'production') {%>
<script src="javascripts/reader.min.js"></script>
<% } else { %>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/lodash/lodash.compat.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/moment/moment.min.js"></script>
<script src="lib/humane-js/humane.min.js"></script>
<script src="lib/mousetrap/mousetrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-md5/angular-md5.js"></script>
<script src="lib/ngUpload/ng-upload.min.js"></script>
<script src="lib/angular-deckgrid/angular-deckgrid.js"></script>

<script src="javascripts/app.js"></script>
<script src="javascripts/ui/dialog.js"></script>
<script src="javascripts/ui/helpers.js"></script>
<script src="javascripts/services/category.js"></script>
<script src="javascripts/services/document.js"></script>
<script src="javascripts/components/documents.js"></script>
<script src="javascripts/components/document.js"></script>
<script src="javascripts/components/profile.js"></script>
<script src="javascripts/components/sidebar.js"></script>
<script src="javascripts/components/navbar.js"></script>
<% } %>
</body>
</html>
