// Components: common
@import "../lib/bootstrap/variables.less";
@import "../lib/bootstrap/mixins.less";
@import "../lib/bootstrap/type.less";
@import "../lib/font-awesome/less/font-awesome.less";

@import "variable.less";
@import "readable.less";

@k-pub-width: 900px;
@k-pub-padding: 20px;

body {
  background: #191919;
  font-family: sans-serif;
  margin: 0;
  > header {
    max-width: @k-pub-width;
    margin: auto;
    text-align: center;
    padding: @k-pub-padding 0;
    h1 {
      color: white;
    }
  }

  > section.content {
    max-width: @k-pub-width;
    margin: auto;
    background: #F5F5F5;
    margin-bottom: @k-pub-padding;
    footer.share {
      padding: @k-pub-padding;
    }
  }
}

article.document {
  header {
    text-align: center;
    padding: @k-pub-padding;
    background: @k-panel-fg-color;
    color: @k-panel-text-color;
    h1 {
      font-size: x-large;
      margin: 0;
      padding: @k-pub-padding 0;
      text-shadow: 2px 2px 10px #333;
    }
    .doc-meta {
      font-size: small;
      text-align: left;
      display: inherit;
      a {
        color: @k-panel-text-color;
      }
      time {
        font-style: italic;
        margin-right: 10px;
      }
    }
  }
  .content {
    padding: @k-pub-padding;
    pre {
      word-break: break-all;
      word-wrap: break-word;
    }
    img {
      max-width: 860px;
    }
  }
}

.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.grid > .card {
  width: @k-grid-card-width;
  height: @k-grid-card-height - 20px;
  padding: 10px;
  margin: 10px;
  color: @k-grid-card-fg-color;
  background-color: @k-grid-card-bg-color;
  box-shadow: 2px 2px 5px @k-grid-card-fg-color;
  position: relative;
  cursor: pointer;
  .transition(all 0.2s ease);
  a {
    text-decoration: none;
    color: @k-panel-text-color;
  }
  header {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: @k-grid-card-fg-color;
    color: @k-panel-text-color;
    h1 {
      font-size: 16px;
      margin: 0;
      padding: 5px;
      font-weight: bold;
      word-break: break-word;
    }
  }
}

