/*********************************************************************************/
/* Body                                                                       */
/*********************************************************************************/
body {
  margin: 0;
  font-family: sans-serif;
  color: @k-fg-color;
  background: @k-bg-color;
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid darken(@k-panel-text-color, 50%);
  h1 {
    line-height: @k-topnav-height;
    background: @k-panel-fg-color;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    margin: 0;
    a {
      text-decoration: none;
    }
  }
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
@import "components/sidebar.less";

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
#content {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

/*********************************************************************************/
/* Navbar                                                                        */
/*********************************************************************************/
@import "components/navbar.less";

/*********************************************************************************/
/* Documents                                                                     */
/*********************************************************************************/
@import "components/documents.less";

/*********************************************************************************/
/* Document                                                                      */
/*********************************************************************************/
@import "components/document.less";

/*********************************************************************************/
/* Profile                                                                       */
/*********************************************************************************/
@import "components/profile.less";

/*********************************************************************************/
/* Class                                                                         */
/*********************************************************************************/
.pointer, .nav-tabs > li > a {
  cursor: pointer;
}

.drag {
  opacity: 0.5;
}

.over {
  border: dashed 1px !important;
}

.color-preset {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  li {
    display: table-cell;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
  }
}

