# Virtual host
# This is only used by the reverse proxy container (not by the app).
VIRTUAL_HOST=keeper.nunux.org

# Env
# Default: development
NODE_ENV=production

# Server port
# Default: 3000
APP_PORT=3000

# Server base URL (Realm)
# Default: http://localhost
APP_REALM=http://keeper.nunux.org

# Application logger level
# Default: debug
APP_LOG=info

# Automatic grant access
# Default: true
APP_AUTO_GRANT_ACCESS=false

# Session secret key
# Default: NuNUXKeEpR_
APP_SESSION_SECRET="NuNUXKeEpR_"

# Admin account(s)
# Comma-separated values of email.
APP_ADMIN=foo@bar.com

# Elastic search URI
# Default: http://localhost:9200
# APP_ELASTICSEARCH_URI=http://localhost:9200

# MongoDB URI
# Default: mongodb://localhost/keeper
# APP_MONGO_URI=mongodb://localhost/keeper

# Redis URI
# Default: redis://localhost:6379/5
# APP_REDIS_URI=redis://localhost:6379/5

# Application data directory
# Default: ./var
APP_VAR_DIR=/var/opt/keeper

# Download document's resources
# Default: default
# Values:
# - disabled: no resource downloaded
# - async-redis: async download using Redis as queuing system
# - default: direct download
APP_DOWNLOADER="async-redis"

# Twitter API key
#APP_TWITTER_CONSUMER_KEY="###"

# Twitter API secret
#APP_TWITTER_CONSUMER_SECRET="###"

# Twitter access token
#APP_TWITTER_ACCESS_TOKEN="###"

# Twitter acces token secret
#APP_TWITTER_ACCESS_TOKEN_SECRET="###"

# Pocket API key
#APP_POCKET_CONSUMER_KEY="###"
