<div id="documents">
  <header>
    <app-navbar></app-navbar>
  </header>
  <section class="grid">
    <div class="loading" ng-show="busy">
      <span class="glyphicon glyphicon-refresh"><p>LOADING...</p></span>
    </div>
    <h1>~ {{ title }} ~</h1>
    <div deckgrid source="documents" cardTemplate="templates/document-card.html" class="deckgrid"></div>
  </section>
  <section class="detail">
    <h1>title</h1>
    <p>dldldldlldld dldlldl</p>
  </section>
</div>

<script type="text/ng-template" id="templates/document-card.html">
  <div class="document">
    <div class="photo-wrapper">
        <img src="" data-ng-src="http://placehold.it/200x150" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
    </div>

    <div class="doc-title">
      <h3>{{ card.fields.title }}</h3>
    </div>
  </div>
</script>

