/*********************************************************************************/
/* Documents                                                                     */
/*********************************************************************************/
#documents {
  position: relative;
  height: 100%;
  div.one-col {
    width: @k-sidebar-width !important;
  }
  div.documents {
    width: 100%;
    background: @k-grid-bg-color;
    box-shadow: inset 0px 0 10px #444;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: @k-topnav-height;
    h1 {
      text-align: center;
      font-style: italic;
      font-size: 20px;
      margin: 0;
      padding-top: 10px;
      color: @k-grid-text-color;
    }
    .no-result {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      display: block;
      margin-top: 10%;
      color: @k-grid-text-color;
    }
    .next {
      text-align: center;
      height: initial !important;
      font-weight: bold;
      color: @k-grid-text-color;
    }
    .active {
      background: @k-panel-bg-color !important;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    ul.cards > li {
      width: @k-grid-card-width + 20px;
      height: @k-grid-card-height;
      padding: 10px;
      margin: 10px;
      color: @k-grid-card-fg-color;
      background-color: @k-grid-card-bg-color;
      box-shadow: 2px 2px 5px @k-grid-card-fg-color;
      position: relative;
      cursor: pointer;
      .transition(all 0.2s ease);
      .doc-title {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;
        background: @k-grid-card-fg-color;
        color: @k-panel-text-color;
        h3 {
          font-size: 16px;
          margin: 0;
          padding: 5px;
          font-weight: bold;
          word-break: break-word;
        }
      }
      .doc-illustration {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .fa {
        width: 100%;
        display: block;
        font-size: 75px;
        text-align: center;
        padding-top: 25px;
      }
    }
    ul.categories {
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: 10px;
      li {
        height: 5px;
        flex: 1;
      }
    }
  }
}

